:root {
    --color-clWhite: #ffffff;
    --color-clBtnFace: hsl(0, 0%, 90%);
    --color-clInfoBk: #FFFFE1;
    --color-clMenu: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.25pt;
}

textarea {
    resize: none;
}

.tbsSeparator {
    background-color: red;
}

.toolimage {
    padding-left: 16px;
}

.TGroupBox {
    border: 1px solid black;
}

.TPanel, .TGroupBox, .TUserControlList  {
    background-color: var(--color-clBtnFace);
}

/*
div {
     background-color: blue; 
} 
*/